<!-- template de serbimas ingresos -->
<div id="serbimas_ingresos">
    <div class="content">
        <h1>Serbimas Ingresos</h1>
        <form action="">
            <label for="">correo electronico</label>
            <input type="text">

            <h2>Subir archivos</h2>

            <label for="">Ingresos</label>
            <input type="file">

            <label for="">Cartola</label>
            <input type="file">

            <input type="submit" value="Subir archivo de ingresos">
            
        </form>
    </div>
</div>